node_modules
vendor
.git
.gitignore
.idea
.tmp-package
build
*.zip
docker/mysql
docker/baikal
docker/openldap
storage/backups/*
storage/cache/*
storage/logs/*
storage/sessions/*
storage/uploads/*
!storage/**/.htaccess
!storage/**/index.html
config.php
.env
.env.prod
.phpunit.result.cache
npm-debug.log
assets/vendor
assets/js/**/*.min.js
assets/css/**/*.css
docs/apigen
docs/jsdoc
docs/plato
tests
phpunit*.xml
